<div>
    <div>
        <p ng-bind = "success"></p>
        <button type="button" ng-click = "logout()">Logout</button>
        <button type="button" ng-click = "createPoll()">Create New Poll</button>
    </div>
    <br>
    <h3>Welcome <span ng-bind = "user"></span></h3>
    <br>
    <h4>Current Polls:</h4>
    <br>
    <div>
        Search Polls: <input type="text" ng-model="search" placeholder="Search for a poll" class="form-control">
    </div>
    <br>
    <table class="table" ng-hide = "results.length === 0">
        <thead>
              <th>
                  Name
              </th>
              <th>
                  Survey Question
              </th>
              <th>
                  Date Posted
              </th>
              <th>
                  Action
              </th>
        </thead>
        <tbody>
          <tr ng-repeat = "post in posts | orderBy:'name' | filter: search as results">
              <td ng-bind = "post.username"></td>
              <td><a href="#/poll/{{post._id}}" ng-bind = "post.question"></a></td>
              <td ng-bind = "post.createdAt | date: 'MMMM dd yyyy'"></td>
              <td> <span ng-show = "post.username == user"><a href="#/dashboard" ng-click = "deletePoll(post._id)">delete</a></span></td>
          </tr>
        </tbody>
    </table>
    <P ng-if="results.length === 0">
        No friends match your search....
    </P>
    <br>
    <br>
    <div class="row">
        <div class="col-md-5">
            </form>
        </div>
    </div>
</div>

<!-- <div>
    <div class="row">
        <div class="col-md-5">
            <a ng-href = '#/index'>Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2 ng-bind = "user.name"></h2>
            <form ng-submit = "updateUser()">
                Name: <span ng-bind = "error.name" class="error"></span> <input type="text" ng-model = 'input.name' class="form-control">
                Birthday: <span ng-bind = "error.birthday" class="error"></span> <input type="date" ng-model = 'input.birthday' class="form-control">
                <input type="submit" value = 'Update'>
            </form>
        </div>
    </div>
</div> -->
