<div>
    <a name="home"></a>
    <div class="row">
        <br>
        <br>
        <br>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Harvey Chui</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Hello! I am Harvey and welcome to my website.</p>
            <p>I am a motivated full stack developer looking for a career in software development.</p>
            <p>I graduated from University of California, Berkeley with a degree in Chemical Engineering.  I enjoy spending my time traveling, reading, playing games, and of course coding!</p>
            <p>Please check out my <a href= "#/#portfolio" >portfolio</a>, <a href= "/static/HarveyChuiResume.pdf" >my resume</a>, and my <a href= "https://github.com/HarvWorks" >Github!</a></p>
            <p>Have a spot on your team? Just want to chat? Feel free to email me at: <a href= "mailto:chuiharvey@gmail.com" >chuiharvey@gmail.com</a></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Skills</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Programming</th>
                </thead>
                <tbody>
                    <tr>
                        <td>JavaScript (ES6)</td>
                    <tr>
                    </tr>
                        <td>Swift</td>
                    <tr>
                    </tr>
                        <td>Python</td>
                    <tr>
                    </tr>
                        <td>Java</td>
                    <tr>
                    </tr>
                        <td>C++</td>
                    <tr>
                    </tr>
                        <td>Ladder Logic</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Front-End</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Angular</td>
                    <tr>
                    </tr>
                        <td>React</td>
                    <tr>
                    </tr>
                        <td>AJAX</td>
                    <tr>
                    </tr>
                        <td>Bootstrap</td>
                    <tr>
                    </tr>
                        <td>SASS</td>
                    <tr>
                    </tr>
                        <td>CSS</td>
                    <tr>
                    </tr>
                        <td>HTML</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Back-End</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Node.js</td>
                    <tr>
                    </tr>
                        <td>Flask</td>
                    <tr>
                    </tr>
                        <td>Express.js</td>
                    <tr>
                    </tr>
                        <td>Socket.IO</td>
                    <tr>
                    </tr>
                        <td>Django</td>
                    <tr>
                    </tr>
                        <td>AWS</td>
                    <tr>
                    </tr>
                        <td>EC2</td>
                    <tr>
                    </tr>
                        <td>Nginx</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Databases</th>
                </thead>
                <tbody>
                    <tr>
                        <td>MySQL</td>
                    <tr>
                    </tr>
                        <td>MongoDB</td>
                    <tr>
                    </tr>
                        <td>Node</td>
                    <tr>
                    </tr>
                        <td>PostgreSQL</td>
                    <tr>
                    </tr>
                        <td>Mongoose</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Software</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Xcode</td>
                    <tr>
                    </tr>
                        <td>Android Development Studio</td>
                    <tr>
                    </tr>
                        <td>Git</td>
                    <tr>
                    </tr>
                        <td>Photoshop</td>
                    <tr>
                    </tr>
                        <td>Xcode</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <th>Misc.</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Dynac</td>
                    <tr>
                    </tr>
                        <td>Modsoft</td>
                    <tr>
                    </tr>
                        <td>DAQFactory</td>
                    <tr>
                    </tr>
                        <td>Matlab</td>
                    <tr>
                    </tr>
                        <td>3D Max</td>
                    <tr>
                    </tr>
                        <td>Maya</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Testimonials</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Working as team member in iOS development project, Harvey's work ethic, dedication, and diligence are in the top 1% of anyone I have ever had the privilege of working with. He has taken on daunting tasks with a level and clear head, created plans of action, and executed flawlessly. He goes above and beyond the call of duty to deliver results, and his technical expertise as a full-stack engineer can not be measured because of his passion to learn and grow on top of his already impressive knowledge base. This is not a person you ever let leave your organization if you count yourself lucky enough to have him in it in the first place.</p>
            <p class="text-center"><a href="https://www.linkedin.com/in/minhpham93">Minh Ngoc Pham</a>, Full Stack Developer</p>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-12">
            <p>Harvey is an exceptional programmer and is a great person to be around. Determined and remains focused on any task at hand. He is always willing to provide help when needed and is always encouraging others to not give up. He has the ability to take concepts and explain data structures. With his abilities, he is able to write scalable applications.I am confident that Harvey can take on any challenge and be successful.</p>
            <a name="portfolio"></a>
            <p class="text-center"><a href="https://www.linkedin.com/in/annettefontanilla">Annette Fontanilla</a>, Full Stack Developer</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Aarocare</h1>
            <p>Aarocare is a cross platform app that allows rural Indians to request a certified local doctor or nurse to visit their house for small treatments such as vaccines, general sickness, triage care, etc.  First, this grants the rural Indian population a cheaper access to healthcare due to the fact that they no longer have to take a costly taxi or train to the city center.  Seconds, this allows doctors and nurses who live in the rural area an additional income source that they otherwise would not have.</p>
            <p>The completed app will consist of both a patient app and a caregiver app on both the Android and iOS plaforms.  Additionally a website is made available for doctors and adminstrators.</p>
            <br>
            <p>Technologies Used:</p>
            <p>Xcode 8, Swift, Android Development Studio, Java, JSON Web Tokens (JWT), Socket.io, CoreData, Apple Maps API, Google Maps API, Node, Java Script, MySQL, Bootstrap, Express, Bower, Bootstrap </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://github.com/HarvWorks/MeBook2"><h1>MyFace 2.0</h1></a>
            <p>MyFace 2.0 is a Facebook clone with a twist. Like Facebook, you can friend people, unfriend people, block people, post on a Wall, edit your post, delete it, and most importantly chat with people in real time.  However, unlike facebook, the chat window is also a map that serves as a way to plan evening trips, and daily events!</p>
            <br>
            <p>Technologies Used:</p>
            <p>Flask (refined into a framework known as Pylot), JavaScript, Google maps API, Socket.io, MySQL, Bootstrap</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://github.com/HarvWorks/Pop-it"><h1>Pop It</h1></a>
            <p>Pop It is a modern take on the tried and true game of Bop It.  It ultizes noise reduction formulas and motion control to allow the game to detect 9 distinct types of motions!  Also it contains some very unique sounds.</p>
            <br>
            <p>Technologies Used:</p>
            <p>Xcode 8, Swift, CoreMotion, Core Data, AVFoundation</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://github.com/HarvWorks/ShipFighterGame"><h1>New Bullet Hell</h1></a>
            <p>New Bullet Hell is a top down shoot-em-up built in mostly pure JavaScript with some help from Paper.js. The game also contains no images, everything is drawn using JavaScript.</p>
            <br>
            <p>Technologies Used:</p>
            <p>JavaScript, Paper.js</p>
        </div>
    </div>
    <a name="contact"></a>
    <div class="row">
        <div class="col-md-12">
            <h1>Harvey Chui</h1>
            <h2>Software Engineer</h2>
            <div class="row">
                <div class="col-md-12">
                    <a href="mailto:chuiharvey@gmail.com" class="pageEndLinks">
                        <i class="fa fa-envelope fa" aria-hidden="true"></i> chuiharvey@gmail.com
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="http://linkedin.com/in/harvey-chui" class="pageEndLinks">
                        <i class="fa fa-linkedin-square fa" aria-hidden="true"></i> linkedin.com/in/harvey-chui
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="http://github.com/HarvWorks" class="pageEndLinks">
                        <i class="fa fa-github fa" aria-hidden="true"></i> github.com/HarvWorks
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/static/HarveyChuiResume.pdf" class="pageEndLinks">
                        <i class="fa fa-file-pdf-o fa" aria-hidden="true"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
