body{
    font-size: 2em;
    align-items: center;
}
#my-navbar-header{
    font-size: 2em !important;
    margin-top: 10px;
}
.container-fluid{
    padding-left: 0;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
cursor: pointer;
}
